font-lg = 2.6rem
font-md = 1.62rem
font-sm = 1.3rem
font-xs = 1rem
line-height = 1.62

color-black = #000000
color-white = #FFFFFF
color-warm-grey = #333333
color-warm-grey-2 = #4D4D4D
color-warm-grey-3 = #5F5F5F
color-grey = #2C393B
color-grey-2 = #1C2224
color-grey-3 = #222B2D
color-light-grey = #F4F4F4
color-ivory = #EAEAE7
color-blue = #00AACC

color-back = color-black
color-default = color-ivory
color-muted = color-grey
color-border = color-warm-grey
gutter-lg = 2rem
gutter-md = 1rem
gutter-sm = 0.62rem

notes-height = 62vh
notes-text = 38vh

*
	box-sizing border-box
	margin 0
	padding 0

html
	font-size 62.5%
html, body
	height 100vh
	overflow hidden
body
	font font-md/line-height sans-serif
	color color-default
	background-color color-black
	user-select none
	overflow scroll
	height 100vh
canvas
	position fixed
	top 0
	left 0
	width 100%
	height 100%
